    <div class="container">
        <footer class="py-5">
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <h5>About</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ '/about-us' | relative_url }}" class="nav-link p-0 text-muted">About Us</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/environment-social-and-governance' | relative_url }}" class="nav-link p-0 text-muted">Environment, Social and Governance (ESG)</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-3">
                    <h5>Services</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ '/what-we-offer#resourcing' | relative_url }}" class="nav-link p-0 text-muted">Resourcing</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/what-we-offer#custom-software-development' | relative_url }}" class="nav-link p-0 text-muted">Custom Software Development</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/what-we-offer#business-continuity-planning' | relative_url }}" class="nav-link p-0 text-muted">Business Continuity Planning</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/what-we-offer#infrastructure-and-enterprise-architecture-consultancy' | relative_url }}" class="nav-link p-0 text-muted">Infrastructure & Enterprise Architecture Consultancy</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/what-we-offer#cybersecurity' | relative_url }}" class="nav-link p-0 text-muted">Cybersecurity</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-3">
                    <h5>Training</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2"><a href="{{ '/training#nerdma-nurturing-software-developers' | relative_url }}" class="nav-link p-0 text-muted">Nurturing Software Developers</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/training#mict-seta-and-internships' | relative_url }}" class="nav-link p-0 text-muted">MICT SETA & Internships</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/training#code-festivals-and-training' | relative_url }}" class="nav-link p-0 text-muted">Code Festivals & Training</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/training#certification' | relative_url }}" class="nav-link p-0 text-muted">Certification</a></li>
                        <li class="nav-item mb-2"><a href="{{ '/training#mentorship' | relative_url }}" class="nav-link p-0 text-muted">Mentorship</a></li>
                    </ul>
                </div>

                <div class="col-sm-12 col-md-3">
                    <form>
                        <h5>Get hold of us</h5>
                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="{{ '/contact-us' | relative_url }}" class="nav-link p-0 text-muted">Contact Us</a></li>
                            <li class="nav-item mb-2"><a href="https://za.linkedin.com/company/nerdma-systems" target="_blank" class="nav-link p-0 text-muted">Find us on LinkedIn</a></li>
                            <li class="nav-item mb-2"><a href="https://twitter.com/nerdmasystems" target="_blank" class="nav-link p-0 text-muted">@NerdmaSystems on Twitter</a></li>
                            <li class="nav-item mb-2"><a href="https://www.instagram.com/nerdmasystems" target="_blank" class="nav-link p-0 text-muted">Connect with us on Instagram</a></li>
                            <li class="nav-item mb-2"><a href="https://www.facebook.com/NerdmaSystems/" target="_blank" class="nav-link p-0 text-muted">We are on Facebook</a></li>
                        </ul>
                    </form>
                </div>
            </div>

            <div class="d-flex justify-content-between py-4 my-4 border-top">
                <p>
                    &copy; {{ 'now' | date: "%Y" }}  Nerdma Systems. All rights reserved. | 
                    <a href="{{ '/privacy-policy' | relative_url }}">Privacy Policy</a> |
                    <a href="{{ '/terms-and-conditions' | relative_url }}">Terms and Conditions</a>
                </p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#twitter"></use></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#instagram"></use></svg></a></li>
                    <li class="ms-3"><a class="link-dark" href="#"><svg class="bi" width="24" height="24"><use xlink:href="#facebook"></use></svg></a></li>
                </ul>
            </div>
        </footer>
    </div>


<script src="{{ '/assets/js/jquery-3.3.1.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery-ui.js' | relative_url }}"></script>
<script src="{{ '/assets/js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.easing.1.3.js' | relative_url }}"></script>
<script src="{{ '/assets/js/aos.js' | relative_url }}"></script>
<script src="{{ '/assets/js/jquery.sticky.js' | relative_url }}"></script>
<script src="{{ '/assets/js/main.js' | relative_url }}"></script>