<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>

<header class="site-navbar js-sticky-header site-navbar-target border-bottom border-light" role="banner">

    <div class="container">
        <div class="row align-items-center">

            <div class="col-6 col-md-3 col-xl-4  d-block">
                <h1 class="mb-0 site-logo"><a href="{{ '/' | relative_url }}" class="text-black h2 mb-0"><img src="{{ '/assets/images/nerdma-logo.png' | relative_url }}" alt="Nerdma" class="logo"></a></h1>
            </div>

            <div class="col-12 col-md-9 col-xl-8 main-menu">
                <nav class="site-navigation position-relative text-right" role="navigation">

                    <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                        <li class="has-children">
                            <a href="{{ '/about-us' | relative_url }}" class="nav-link">About Us</a>
                            <ul class="dropdown">
                                <li><a href="{{ '/about-us' | relative_url }}">About Us</a></li>
                                <li><a href="{{ '/environment-social-and-governance' | relative_url }}">Environment, Social and Governance (ESG)</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ '/services' | relative_url }}" class="nav-link">What we offer</a></li>
                        <li class="has-children">
                            <a href="{{ '/training' | relative_url }}" class="nav-link">Training</a>
                            <ul class="dropdown">
                                <li><a href="{{ '/training/data-cleaning/' | relative_url }}">Data Cleaning</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ '/join-the-team' | relative_url }}" class="nav-link">Join the team</a></li>
                        <li><a href="{{ '/contact' | relative_url }}" class="nav-link">Contact Us</a></li>
                    </ul>
                </nav>
            </div>

            <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0" ><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
    </div>

</header>
