---
---

@import "bootstrap/functions";
@import "bootstrap/variables";

$red: #cc0411;
$primary:       $red;
/* use a variable to override primary */
$theme-colors: (
  primary: $red
);
$font-family-sans-serif:      'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;

$gray-1: #f8f9fa;
$gray-4: #ced4da;

@import "bootstrap/mixins";
@import "bootstrap/bootstrap";

@import "site-base";
@import "site-navbar";
@import "site-blocks";

.btn {
  border-radius: 3px;
}
.logo {
  width: 120px;
}

.site-section {
  @include media-breakpoint-up(md) {
    padding: 8em 0;
  }
}

/** {*/
/*  outline: 1px solid lightblue;*/
/*}*/