---
---

@import "bootstrap/functions";
@import "bootstrap/variables";

$red: #cc0411;
$primary:       $red;
/* use a variable to override primary */
$theme-colors: (
  primary: $red
);
$font-family-sans-serif:      'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-base:            $font-family-sans-serif;

$gray-1: #f8f9fa;
$gray-4: #ced4da;

@import "bootstrap/mixins";
@import "bootstrap/bootstrap";

@import "site-base";
@import "site-navbar";
@import "site-blocks";

.btn {
  border-radius: 3px;
}
.form-control {
  border-radius: 0.25rem;
}
.logo {
  width: 120px;
}

.site-section {
  @include media-breakpoint-up(md) {
    padding: 8em 0;
  }
  
  &.heading-section {
    @include media-breakpoint-down(sm) {
      padding: 5.5em 0 2.5em 0;
    }
  }
}

.post {
  padding-top: 5em;
}

.banner {
  @include media-breakpoint-up(lg) {
    max-width: 50%;
    right: 15%;
  }
}

.banner-normal {
  max-width: 50%;
}

h2::after {
  content: '';
  display: block;
  height: 3px;
  width: 3em;
  background-color: $primary;
  margin-top: 0.6em;
  
  .text-center & {
    margin-left: auto;
    margin-right: auto;
  }
}
#join-the-team-teaser {
margin-top: 5em;  
}

.site-blocks-cover {
  &:after {
    background-image: none;
  }
}

/** {*/
/*  outline: 1px solid lightblue;*/
/*}*/